spring-app/HELP.md
spring-app/.gradle
spring-app/build/
!spring-app/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
spring-app/.apt_generated
spring-app/.classpath
spring-app/.factorypath
spring-app/.project
spring-app/.settings
spring-app/.springBeans
spring-app/.sts4-cache
spring-app/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
spring-app/.idea
spring-app/*.iws
spring-app/*.iml
spring-app/*.ipr
spring-app/src/main/resources/*.yml
spring-app/out/
!**/src/main/**/out/
!**/src/test/**/out/
**/src/main/generated/

### NetBeans ###
/spring-app/nbproject/private/
/spring-app/nbbuild/
/spring-app/dist/
/spring-app/nbdist/
/spring-app/.nb-gradle/

### VS Code ###
spring-app/.vscode/
spring-app/.env.*
react-app/.env.*
